# Virtual environments & Conda
venv/
env/

# Python compiled files
__pycache__/
*.pyc

# Build artifacts & package metadata
*.egg-info/
dist/
build/

# IDE / OS junk
.DS_Store
.vscode/
.idea/

#jupyter notebook junk files.
.ipynb_checkpoints/
.virtual_documents/